/* start variabels */
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background:#f6f6f6;
    --main-duration: 0.5s;
    --line-height: 1.8;
    }
/* end variabels */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
    font-family: "Work Sans", sans-serif;
}
.continer {
    padding: 0 20px;
    margin: 0 auto;
}
@media (min-width:768px){
    .continer{
        width: 750px;
    }
}

@media (min-width:992px){
    .continer{
        width: 970px;
    }
}

@media (min-width:1200px){
    .continer{
        width: 1170px;
    }
}
/* End Global Rules */
/* start component */
.special-heading{
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    color: #797979;
    font-size: 20px;
    margin: -30px 0 0;
    text-align: center;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px;
    }
}
/* end component */
/* start header */
.header{
    padding: 20px;
}
.header .continer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header .links .icon span{
    height: 2px !important;
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header .links .icon span:first-child,
.header .links .icon span:last-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-duration) ease;
    -webkit-transition: var(--main-duration) ease;
    -moz-transition: var(--main-duration) ease;
    -ms-transition: var(--main-duration) ease;
    -o-transition: var(--main-duration) ease;
}
.header .links ul{
    background-color: #f6f6f6;
    min-width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    inset: 30px 0 auto auto;
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    inset: -25px 0 auto auto;
}
.header .links:hover ul{
    display: block;
}
.links ul li a{
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: var(--main-duration) ease;
    -webkit-transition: var(--main-duration) ease;
    -moz-transition: var(--main-duration) ease;
    -ms-transition: var(--main-duration) ease;
    -o-transition: var(--main-duration) ease;
}
.links ul li a:hover{
    padding-left: 25px;
}
.links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* this for emerginse --------------------------------------------- */

/* .header .links .icon span:last-child{
    width: 100%;
    height: 3px;
} */

/* this for emerginse --------------------------------------------- */


/* end header */
/* start landing */
 
.landing{
    background: url(../images/mouent.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: calc( 100vh - 64px) ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .intro-text{
    width: 300px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: var(--line-height);
}

/* end landing */

/* start features */
.features{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.features .continer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .continer .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    margin: 30px 0;
    font-weight: 800;
}
.features .feat p {
    font-size: 16px;
    line-height: var(--line-height);
    color: #333;
}
/* end features */
/* start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){

    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }

}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
@media (max-width:1199px){
    .services .services-content .image {
        display: none;
    }
}
.services .services-content .image::before{
    content: '';
    background-color: var(--secondary-color);
    height: calc(100% + 100px);
    width: 100px;
    position:absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content .image img{
    width: 260px;
}     
/* end Services */

/* start portfolio */
.portfolio{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio-content .card{
    background-color: white;
}
.portfolio-content .card img{
    max-width: 100%;
}
.portfolio-content .card .info{
    padding: 20px;
}
.portfolio-content .card .info h3{
    margin-top: 0;
}
.portfolio-content .card .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* end portfolio */
/* start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.about .about-content .image{
    width: 250px;
    height: 375px;
    position: relative;
}
@media (max-width:991px){
    .about .about-content .image{
        margin: 0 0 60px;
    }
}
.about .about-content .image::before{
    content: '';
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: -1;
}
.about .about-content .image::after{
    content: '';
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width:991px){
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}
.about .about-content .image img{
    width: 100%;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    color: #777;
    line-height: 2;
}
/* end about */
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;   
}
.contact .info .lable{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
}
@media (max-width:767px){
    .contact .info .lable,
    .contact .info .link{
        font-size: 25px;
    }
    
}
.contact .info .social{
    color: var(--secondary-color);
    margin-top: 15px;
    display:flex;
    justify-content: center;
}
.contact .info .social i{
    margin-left: 10px;
}
/* end contact */

/* start footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */




/* this nothing */
/* https://youtube.com/shorts/wRK9g4T2oWI?si=d3xhGM4lQCtA5PIR */